.wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .popper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    &.show {
      display: block;
    }
  }
}
